$animationSpeed: .4s;

.dropdown-menu {
  &-icon {
    margin-left: 10px;
    transition: all $animationSpeed linear;
  }

  &.opened {
    .dropdown-menu-icon {
      transform: rotate(180deg);
    }

    .dropdown-menu-submenu {
      visibility: unset;
      transition: visibility .3s ease-out .1s;

      li  > a {
        height: 60px;
        transition: height $animationSpeed ease-in-out;
      }
    }
  }

  .dropdown-menu-submenu {
    visibility: hidden;
    transition: visibility $animationSpeed ease-in-out;
    min-width: 150px;
    background-color: systemColor(white);

    @include breakpoint-min(md) {
      position: absolute;
    }

    li > a {
      padding-left: 40px;
      height: 0;
      transition: height $animationSpeed ease-in-out;
    }
  }
}
