$breakpoints: (
        xs: 0,
        sm: 600px,
        md: 960px,
        lg: 1160px,
);

$colors: (
        blue: #55B8F0,
        darkBlue: #082264,
        ligthBlue: #EEF9FF,
        lightGrey: #D9D9E8,
        grey: #A4A3AD,
        darkGrey: #5C5C6C,
        white: #FFFFFF,
        black: #2F2F33,
        lightBlack: #333333
);

$headerHeight: 80px;
